<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Listagem de Lares | Happy</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/images/logo-icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />    

    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/animations.css" />
    <link rel="stylesheet" href="/CSS/sidebar.css">   
    <link rel="stylesheet" href="/CSS/buttons.css">
    <link rel="stylesheet" href="/CSS/page-orphanage.css" />
  </head>

  <body>
    <div id="page-list-orphanage">
      <aside class="animate-right sidebar">
        <img src="/images/map-marker.svg" alt="Happy">

        <footer>
          <button onclick="history.back()">
            <img src="/images/arrow-back.svg" alt="voltar">
          </button>
        </footer>
      </aside>

     <main>
        <div class="list-orphanages">
            <h1>Listagem de Orfanatos</h1>
        </div>
     </main>

    </div>

    <script src="/scripts/page-orphanage.js"></script>
  </body>
</html>
